
  .main {
    display: flex;
    padding: 10px;
    position: relative;

    .logo-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;

      .logo {
        width: 10%;
        min-width: 6em;
        top: 80%;
        padding: 10px;
      }
    }
  }
