.dashboard-main {
  background: green;
  padding: 10em;
  border: #747474 solid 1px;
  margin: 20px;
  border-radius: 20px;
  height: 4000px;
  display: flex;
  align-items: center;
  justify-content: center;
}