.home {
  color: black;
  background-image: url("src/assets/img.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;

  .home-header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-end: 2;
    background: rgba(255, 255, 255, .5);
    position: fixed;
  }

  .home-content {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 5%;
  }

  .home-sidebar {
    grid-column-start: 1;
    grid-row-end: 3;
    position: fixed;
    top: 10%;
  }

  @media (max-width: 1610px) {
    .home-header {
      position: relative;
    }
    .home-sidebar {
      position: relative;
    }

  }
}