.container-main-page {
  background: var(--primary);
  padding: 2em;
  color: white;
  margin: 20px;
  border-radius: 20px;

  h1 {
    text-align: center;
  }

  .table-title {
    background: rgb(46, 47, 58);
    color: white;
    border-radius: 30px;
    width: 100%;

    tr {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      padding: 10px;

    }
  }
}
