.header-main {
  padding: 10px;
  display: flex;

  .logo-header-home {
    justify-content: left;

    img {
      width: 10%;
      min-width: 100px;
      padding: 10px;
    }
  }

  .perfil-container {
    display: flex;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    button{
      border: none;
      background: #34b256;
      color: black;
      border-radius: 10px;
      padding: 10px;
    }
    button:hover{
      transform: scale(1.2);
    }
  }

  .header-main-input {
    display: flex;
    position: relative;
    right: 50%;
    transform: translate(50%);
    margin-right: 10px;
    border: 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

    input {
      border-radius: 10px;
      width: 500px;
      padding: 10px;
      background: none;
      border: #34b256 solid 2px;
    }
    input:hover{
      transform: scale(.9);
    }
    button{
      color: black;
      background: none;
      border: 0;
    }
    button:hover{
      transform: scale(1.3);
    }

  }

}
