.container-sidebar {
  background: #34b256;
  display: flex;
  justify-content: flex-start;
  border-radius: 30px;
  padding: 10px 0 0 10px;
  margin: .8em;

  .menu-side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    list-style: none;
    gap: 60px;

    .menu-list {
      font-weight: 700;
      width: 150%;

      li {
        display: flex;
        align-items: center;
      }
    }

    div:first-child {
      border-radius: 10px;
      background: white;
      color: #34b256;
    }

    div:last-child {
      margin-top: 200px;
    }
  }
}