.container-sidebar {
  background: #34b256;
  display: flex;
  max-width: 180px;
  border-radius: 30px;
  padding: 10px 0 0 10px;

  .menu-side-container {
    display: flex;
    padding-left: 14px;
    flex-direction: column;
    align-items: center;
    color: white;
    list-style: none;
    gap: 20px;

    .menu-list {
      display: inline-flex;
      font-weight: 700;
      width: 120%;
      padding: 10px;

      a {
        display: flex;
        color: inherit;
        text-decoration: none;
        justify-content: center;
        align-items: center;
      }

      li {
        display: flex;
        align-items: center;
      }

      li:hover {
        color: black;
      }

      li:active {
        transform: scale(.9);
      }

    }

    .active {
      li {
        display: inline-flex;
        font-weight: 700;
        width: 100%;
        border: 0;
        border-radius: 10px;
        background: white;
        color: black;
      }

    }

    div:last-child {
    margin-top: 300px;
    }
  }

}